<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <main>
        <img src=<%=aBook.image_url%>>
        <p id="title"><%= aBook.title %></p>
        <p id="authors"><%= aBook.author%></p>
        <p id="description"><%= aBook.description %></p>
        <p class="isbn">ISBN: <%= aBook.isbn%></p>
        <p class="isbn">Bookshelf: <%= aBook.bookshelf%></p>


<!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->

<form action="/update/<%=aBook.id%>?_method=put" method="post">
    <label>
        <p>Img_URL:</p>
        <textarea name="image_url"><%=aBook.image_url%></textarea>
    </label>
    <label>
        <p>Title:</p>
        <input type="text" name="title" value="<%=aBook.title%>">
    </label>
    <label>
        <p>Author:</p>
        <input type="text" name="author" value="<%=aBook.author%>">
    </label>
    <label>
        <p>Description:</p>
        <textarea name="description"><%=aBook.description%></textarea>
    </label>
    <label> 
        <p>ISBN:</p>
        <input type="text" name="isbn" value="<%=aBook.isbn%>">
    </label>
    <label>
        <b>Bookshelf:</b>
        <input type="text" name="bookshelf" value="<%=aBook.bookshelf%>">
    </label>
    <button>Save</button>
</form>

<form action="/delete/<%=aBook.id%>?_method=DELETE" method="post"><button>Delete</button></form>
    </main>
</body>

</html>